<header class="hero-image" data-animation="fadeInDownBig" style="background-image: url({{ ASSET_PATH }}/img/{{page.feature_image}}.jpg);">
    <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    {% include Writer/nav-no-js.html %}
    {% include Writer/nav.html %}
</header>

<main class="container" data-animation="fadeInUp">
    <div class="row">
        <div class="col-xs-12 single-content">
            <p class="meta">
                <a href="{{ page.author_url | prepend: BASE_PATH }}">{{ page.author_name | capitalize}}</a> in <a href='{{ "/category/" | append: page.categories.first | prepend: BASE_PATH }}'>{{ page.categories[0] | capitalize }}</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> {{ page.read_time }} minutes
            </p>

            <h1>{{ page.title }}</h1>

            {{ content }}

        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->

<footer class="single">
    {% include Writer/footer-single.html %}

    {% if page.show_related_posts == true %}
        {% include Writer/footer-related-posts.html %}
    {% endif %}
</footer>
