#about {
  .profile {
    width: 140px;
    height: 140px;
    display: block;
    margin: 15px auto;
  }
  .summary {
    font-size: 20px;
  }

  .group {
    .group-name {
      display: block;
      margin-bottom: 15px;
    }
    .group-desc {
      display: block;
    }
  }

  .community {
    .channels {
      display: inline-block;
      li {
        list-style: none;
        .name {
          a {
            color: #555;
          }
        }
      }
    }
  }

  .sns {
    padding-top: 40px;
    ul {
      display: inline;
      li {
        list-style: none;
        display: inline;
        margin-right: 10px;
        a {

          i {
            font-size: 40px;
          }
          i.fa-facebook-official {
            color: #3b5998;
          }
          i.fa-twitter {
            color: #55acee;
          }
          i.fa-github {
            color: #111;
          }
          i.fa-linkedin-square {
            color: #0077b5;
          }
        }

        a:hover {
          border-bottom: none;
        }
      }
    }
  }
}
